<html>
	<head>
		<title>TankBot Video Stream</title>
		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
		<script type="text/javascript" charset="utf-8">
			var socket = io();
			socket.on('connect', function() {
				socket.emit('connected', {data: 'Connected'});
				console.log("Connected");
			});;

			const FWD        = {lw: 0, rw: 2};
		  const REV        = {lw: 2, rw: 0};
		  const STOP       = {lw: 1, rw: 1};
		  const RIGHT      = {lw: 0, rw: 0};
		  const LEFT       = {lw: 2, rw: 2};
		  const LEFT_FWD   = {lw: 0, rw: 3};
		  const LEFT_REV   = {lw: 2, rw: 3};
		  const LEFT_STOP  = {lw: 1, rw: 3};
		  const RIGHT_FWD  = {lw: 3, rw: 2};
		  const RIGHT_REV  = {lw: 3, rw: 0};
		  const RIGHT_STOP = {lw: 3, rw: 1};

		  function send_shutdown() {
		    socket.emit("shutdown", {data: "shutdown"});
		    console.log("shutdown")
		  }
		  
		  function send_forward() {
		    socket.emit("drive", {data: FWD});
		    console.log("Published fwd");
		  }

		  function send_rev() {
		    socket.emit("drive", {data: REV});
		    console.log("Published rev");
		  }

		  function send_stop() {
		    socket.emit("drive", {data: STOP});
		    console.log("Published stop");
		  }

		  function send_right() {
		    socket.emit("drive", {data: RIGHT});
		    console.log("Published right");
		  }

		  function send_left() {
		    socket.emit("drive", {data: LEFT});
		    console.log("Published left");
		  }

		  function send_left_fwd() {
		    socket.emit("drive", {data: LEFT_FWD});
		    console.log("Published left_fwd");
		  }

		  function send_left_rev() {
		    socket.emit("drive", {data: LEFT_REV});
		    console.log("Published left_rev");
		  }

		  function send_left_stop() {
		    socket.emit("drive", {data: LEFT_STOP});
		    console.log("Published left_stop");
		  }

		  function send_right_fwd() {
		    socket.emit("drive", {data: RIGHT_FWD});
		    console.log("Published right_fwd");
		  }

		  function send_right_rev() {
		    socket.emit("drive", {data: RIGHT_REV});
		    console.log("Published right_rev");
		  }

		  function send_right_stop() {
		    socket.emit("drive", {data: RIGHT_STOP});
		    console.log("Published right_stop");
		  }

		  var keyPressed = {};

		  // When a key is pressed, we want to tell the motor to go fwd or rev
		  document.onkeydown = (event) => {    
		    // Only register the key on the first press event
		    if (keyPressed[event.keyCode]) {
		      return;
		    }

		    switch (event.keyCode) {
		      case 81: // Q
		        send_left_fwd();
		      break;

		      case 65: // A
		        send_left_rev();
		      break;

		      case 87: // W
		        send_right_fwd();
		      break;

		      case 83: // S
		        send_right_rev();
		      break;

		      default:
		        send_left_stop();
		        send_right_stop();
		      break;
		    }
		    keyPressed[event.keyCode] = true;
		  }

		  // When a key is released we want to tell the motor to stop
		  document.onkeyup = (event) => {
		    switch (event.keyCode) {
		      case 81: // Q
		        send_left_stop();
		      break;

		      case 65: // A
		        send_left_stop();
		      break;

		      case 87: // W
		        send_right_stop();
		      break;

		      case 83: // S
		        send_right_stop();
		      break;

		      default:
		        send_left_stop();
		        send_right_stop();
		      break;
		    }
		    keyPressed[event.keyCode] = false;
		  }
		</script>
		<style>
		  table {
		    margin: auto;
		    padding: 10px;
		    width: 50%;
		    align: center;
		  }

		  button {
		    padding: 10px;
		    background-color: #4CAF50;
		    border: black;
		    text-align: center;
		    border-radios: 5px;
		    margin: auto;
		  }
		  
		  h2 {
		    text-align: center;
		  }

		  .center {
		  	margin: auto;
		    padding: 10px;
		    width: 50%;
		    align: center;
		    text-aligh: center;
		  }
		</style>
	</head>

	<body>
		<div class="center">
			<h1 class="center"	>Tankbot control</h1>
			<img src="{{ url_for('video_feed') }}">
		</div>
		
		<div>
	    <table>
	      <tr>
	        <td>
	          <h2> Drive control</h2>
	          <p>Keyboard controls (tankdrive):<br>
	          	Q - left wheel fwd<br>
	          	A - left wheel rev<br>
	          	W - right wheel fwd<br>
	          	S - right wheel rev<br>
	          </p>
	          <table>
	            <tr>
	              <td>
	                <button onmousedown="send_forward()" onmouseup="send_stop()" onmouseout="send_stop()">FWD</button>
	              </td>
	              <td><button onmousedown="send_right()" onmouseup="send_stop()" onmouseout="send_stop()">RIGHT</button></td>
	            </tr>

	            <tr>
	              <td>
	                <button onmousedown="send_rev()" onmouseup="send_stop()" onmouseout="send_stop()">REV</button>
	              </td>
	              <td><button onmousedown="send_left()" onmouseup="send_stop()" onmouseout="send_stop()">LEFT </button></td>
	            </tr>
	          </table>
	        </td>
	      </tr>
	    </table>
	  </div>
  
	  <div>
	    <button onclick="send_shutdown()">Shutdown</button>
	  </div>
	</body>
</html>
