page-home {
  .center {
      margin-left: auto; 
      margin-right: auto;
    }

    .center-container {
      display: flex; 
      justify-content: center;
    }

    button {
      color: white;
      background-color: #0050d1;
      margin: 5px;
      padding: 10px;
      border-radius: 2px;
      min-width: 80px;
    }

    button:active {
      background-color: #306dd1;
    }
}
